@charset "utf-8";
/* CSS Document */

.button-width {
	width: 10%;
}
@media only screen  and (max-width: 1200px) {
	.form-container-scnd {width: 85%; margin:0 auto;}
	.button-width {
		width: 20%;
	}
}

@media only screen  and (max-width: 1024px) {
	.container { width: 100%; height: 100%;}
	.form-container {width: 85%; margin:0 auto;}
	.inpt1 {width: 97%;}
	.inpt3 {width: 97%;}
	.form-container-scnd {width: 90%;}
	.header {padding-top: 30px;}
	.button-width {
		width: 15%;
	}
	.form-submit {
		width: 50%;
	}
}

@media only screen  and (max-width: 768px) {
	.rgt-aline1 {width: 35%;}
	.slct-bx1 {width: 31%; margin-right: 17px;}
	.form-container-scnd,
	.form-2 {width: 97%;}
}

@media only screen  and (max-width: 830px) {
	.grid-selection {
		grid-template-columns: 2fr 2fr;
	}

	.check-box {
		width: 80%;
	}

	.form-container-scnd,
	.form-2 {
		width: 80%;
		margin: 0 auto;
		/* display: flex;
		justify-content: space-around; */
	}
	.button-width {
		width: 12%;
	}
	.form-submit {
		width: 50%;
	}
	.progress-bar {
		position: static;
		margin-bottom: 30px;
	}
	.progress-title {
		position: static;
		margin-top: 30px;
	}
}

@media only screen  and (max-width: 767px) {
	.container { width: 100%; height: 100%;}
	.form-container,
	.form-2 {width: 95%;}
	.card {width: auto; margin: 0 10px 15px;}
	.card {width: 130px;}
	.inpt1 {width: 96%;}
	.inpt3 {width: 96%;}
	.answer-box-rgt ul li a {
		padding: 2px 5px;
		font-size: 16px;
	}
	.button-width {
		width: 10%;
	}
}

@media only screen  and (max-width: 667px) {
	.check-box {width: 75%; }
	.slct-bx1 {margin-right: 15px;}
	.question-box h4 {font-size: 16px;}
	.more-info {display: none;}	
	.header {font-size: 20px; margin-inline: 20px;}
	.answer-box-rgt ul li a {
		padding: 1px 5px;
		width: 100%;
		margin: 2px;
	}
	.question-box {
		flex-direction: column;
		line-height: 30px;
	}
	.question-box-lft {
		text-align: center;
	}
	.form-container-scnd,
	.form-2 {
		width: 90%;
	}
	.answer-box-rgt {
		margin-top: 15px;
		font-size: 16px;
		width: 50%;
	}
	.answer-box-rgt ul {
		justify-content: space-between;
	}
	.answer-box-rgt ul li a {
		font-weight: 600;
		cursor: pointer;
	}
	.buttons-row {
		
		margin: auto;
		margin-top: 30px;
	}
	.inner-container .check-box {
		width: 95%;
	}
	.progress-bar {
		position: static;
		margin-bottom: 30px;
	}
	.progress-title {
		position: static;
		margin-top: 30px;
	}
}

@media only screen  and (max-width: 414px) {
	.container { width: 100%; height: 100%;}
	.form-container {width: 93%;}
	.card {width: 70%; margin: 0 10px 15px;}
	.rgt-aline1 {width: 75%;}
	.inpt1 {width: 94%;}
	.inpt3 {width: 94%;}
	.slct-bx1 { width: 100%; margin-right: 0; }
	.check-box {width: 93%;}
	.tool::before, .tool::after {left: 0%;}
	.tool::after {
	    font-size: .75em;
	    margin-left: -35em;
	    width: 30em;
	}
	.header {font-size: 22px; padding-top: 30px;}
	.question-box {width: 95%;}
	.question-box-lft {width: 60%;}
	.answer-box-rgt ul {
		padding: 5px;
		align-items: center;
		flex-direction: column;
	}
	.answer-box-rgt ul li {
		margin: 5px 0;
	}
	.answer-box-rgt ul li a{
		padding: 5px 10px;
	}
	.answer-box-rgt ul li a {font-size: 13px;}
	.card-box { width: 100%; }
	.grid-selection {
		grid-template-columns: 2fr;
	}
}

@media only screen  and (max-width: 662px) {
	.question-box {width: 95%;}
	.question-box-lft {width: 60%;}
	.answer-box-rgt ul {
		padding: 5px;
	}
	.answer-box-rgt ul li {
		margin: 5px 0;
	}
	.answer-box-rgt ul li a{
		padding: 5px 10px;
	}
	.answer-box-rgt ul li a {font-size: 13px;}
	.form-submit {
		width: 60%;
	}
	.text-area {
		width: 90%;
	}
}
@media only screen  and (max-width: 384px) {
	.answer-box-rgt ul li {
		margin: 0;
	}
	.answer-box-rgt ul li a{
		padding: 5px 10px;
	}
	.answer-box-rgt ul li a {font-size: 13px;}
}

@media only screen  and (max-width: 260px) {
	.answer-box-rgt ul li {
		margin: 0;
	}
	.answer-box-rgt ul li a{
		padding: 2px;
	}
	.answer-box-rgt ul li a {font-size: 13px;}
}

@media only screen and (max-width: 375px) {
	.card-box {
	    width: 100%;
	    float: left;
	}
	.form-container {
	    width: 94%;
	}
}

@media only screen and (max-width: 470px) {
.answer-box-rgt ul {
	flex-direction: column;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.answer-box-rgt ul li a{
	padding: 5px 30px;
}
.flag-holder {
	margin-top: 15px;
  }
  
  .flag-box {
	width: 30%;
	display: flex;
	justify-content: center;
  }
  
  .flag {
	width: 250px;
	margin-inline: 60px;
	height: 100px;
	border-radius: 20px;
	cursor: pointer;
  }
}
@media only screen  and (max-width: 360px) {
	.card-box {
	    width: 100%;
	    float: left;
	}
	.form-submit {
		width: 70%;
	}
}

@media only screen  and (max-width: 320px) {
	.container { width: 100%; height: 100%; }
	.form-container {width: 95%;}
	.card-box {
	    width: 100%;
	    float: left;
	}
	.card {width: 70%; margin: 0 auto 15px;}
	.inpt1 {width: 92%;}
	.inpt3 {width: 92%;}
	
}